<div class="profile-header">
  <div class="profile-img">
    <img src="/images/ktm.jpg" alt="profile picture" />
    </div>
    <div class="profile-title">
    <h3><%= profile.title %></h3>
</div>
  <div class="profile-links">
    <a
      href="/profiles/<%=profile._id%>/inspections"
      class="btn profile__action <%= url.indexOf("inspections") > 0 ? "active-action": "" %>"
    >
      <i class="fas fa-clipboard-check"></i>pre-ride </a
    >
    <a
      href="/profiles/<%= profile._id %>"
      class="btn profile__action <%= url.indexOf("post-ride") > 0 ? "active-action": "" %>"
      ><i class="fas fa-stopwatch"></i>post-ride</a
    >
    <a
      href="/profiles/<%=profile._id%>/maintenance"
      class="btn profile__action <%= url.indexOf("maintenance") > 0 ? "active-action": "" %>"
    >
      <i class="fas fa-tools"></i>maintenance
    </a>
    <a
      href="/profiles/<%=profile._id%>/notes"
      class="btn profile__action <%= url.indexOf("notes") > 0 ? "active-action": "" %>"
    >
      <i class="fas fa-clipboard-list"></i>notes
    </a>
  </div>
</div>
