<section class="profile-tab">
  <a
    href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>"
    class="btn profile-tab__info"
  >
    <h4><%=profile.title%></h4>
    <img class="profile-tab__img" src="/images/ktm.jpg" alt="Bike image" />
  </a>
  <div class="profile-tab__data">
    <p>
      Current Hours:
      <a
        href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/post-ride"
        ><span class="link"><%=profile.hours%></span></a
      >
    </p>
    <div class="profile-tab__nearest-task">
      <p>Next Task:</p>
      <% if (profile.tasks && profile.tasks.length) { %> <% const task =
      profile.tasks[0]; %>
      <h4><%= task.title %></h4>
      <div>
        <p>
          Due in:
          <a
            href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/maintenance"
            ><span class="link due-in"><%= task.remainingHours %></span></a
          >
          hours.
        </p>
      </div>
      <% } else { %>
      <p>No tasks created yet...</p>
      <% } %>
    </div>
    <p>checklist placeholder</p>
  </div>
  <div class="profile-tab__action-buttons">
    <a
      href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/inspections"
      class="btn profile__action"
      >pre-ride</a
    >
    <a
      href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/post-ride"
      class="btn profile__action"
      >post-ride</a
    >
    <a
      href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/maintenance"
      class="btn profile__action"
      >maintenance</a
    >
    <a
      href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/notes"
      class="btn profile__action"
      >notes</a
    >
  </div>
</section>
