<section class="profile-header">
  <div class="profile-links">
    <a 
      href="/<%=currentUser.username%>/garage/<%=profile.url%>"
      class="btn btn-primary profile-link-lg <%=activePage === "profile" ? "active-action": ""%>"
    >
    <div class="profile-home-link">
      <div class="profile-img">
        <img src="<%=profile.image.path%>" alt="profile picture" />
      </div>
      <div class="profile-title">
        <h3><%=profile.title%></h3>
      </div>
      <div>
        <span class="profile-hours"><%=profile.hours%> hrs</span>
      </div></div>
    </a>
    <div class="profile-action-links">
      <a 
      href="/<%=currentUser.username%>/garage/<%=profile.url%>"
      class="btn btn-primary profile__action profile-link-sm <%=activePage === "profile" ? "active-action": ""%>"
      >
        <i class="fas fa-motorcycle"></i><span class="pa-text">profile</span> 
      </a>

      <a 
        href="/<%=currentUser.username%>/garage/<%=profile.url%>/inspections"
        class="btn btn-primary profile__action <%= activePage === "inspections" ? "active-action": "" %>"
      >
        <i class="fas fa-clipboard-check"></i><span class="pa-text">pre-ride</span> 
      </a>

      <a
        href="/<%=currentUser.username%>/garage/<%= profile.url %>/post-ride"
        class="btn btn-primary profile__action <%= activePage === "post-ride" ? "active-action": "" %>"
      >
        <i class="fas fa-stopwatch"></i><span class="pa-text">post-ride</span>
      </a>

      <a
        href="/<%=currentUser.username%>/garage/<%=profile.url%>/maintenance"
        class="btn btn-primary profile__action <%= activePage === "maintenance" ? "active-action": "" %>"
      >
        <i class="fas fa-tools"></i><span class="pa-text">maintenance</span>
      </a>

      <a
        href="/<%=currentUser.username%>/garage/<%=profile.url%>/notes"
        class="btn btn-primary profile__action <%= activePage === "notes" ? "active-action": "" %>"
      >
        <i class="fas fa-clipboard-list"></i><span class="pa-text">notes</span>
      </a>
    </div>
  </div>
</section>
