<section class="profile-tab grid bg-dark-border">
  <div class="profile-tab__info">
    <a
      href="/<%=currentUser.username%>/garage/<%=profile.url%>"
      class="btn btn-primary"
    >
      <h4><%=profile.title%></h4>
      <img
        class="profile-tab__img"
        src="<%=profile.image.path%>"
        alt="Bike image"
      />
    </a>
  </div>
  <%- include ../partials/profileData %>
  <div class="profile-tab__action-buttons">
    <a
      href="/<%=currentUser.username%>/garage/<%=profile.url%>/inspections"
      class="btn btn-primary profile__action"
      >pre-ride</a
    >
    <a
      href="/<%=currentUser.username%>/garage/<%=profile.url%>/post-ride"
      class="btn btn-primary profile__action"
      >post-ride</a
    >
    <a
      href="/<%=currentUser.username%>/garage/<%=profile.url%>/maintenance"
      class="btn btn-primary profile__action"
      >maintenance</a
    >
    <a
      href="/<%=currentUser.username%>/garage/<%=profile.url%>/notes"
      class="btn btn-primary profile__action"
      >notes</a
    >
  </div>
</section>
