<section class="profile-header">
  <div class="profile-links">
    <a 
      href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>"
      class="btn btn-primary <%=activePage === "profile" ? "active-action": ""%>"
    >
    <div class="profile-home-link">
      <div class="profile-img">
        <img src="<%=profile.image.path%>" alt="profile picture" />
      </div>
      <div class="profile-title">
        <h3><%=profile.title%></h3>
      </div>
      <div>
        <span class="profile-hours"><%=profile.hours%> hrs</span>
      </div></div>
    </a>
    <div class="profile-action-links">
      <a 
        href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/inspections"
        class="btn btn-primary profile__action <%= activePage === "inspections" ? "active-action": "" %>"
      >
        <i class="fas fa-clipboard-check"></i><span class="pa-text">pre-ride</span> 
      </a>

      <a
        href="/home/<%=currentUser.username%>/profiles/<%= profile._id %>/post-ride"
        class="btn btn-primary profile__action <%= activePage === "post-ride" ? "active-action": "" %>"
      >
        <i class="fas fa-stopwatch"></i><span class="pa-text">post-ride</span>
      </a>

      <a
        href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/maintenance"
        class="btn btn-primary profile__action <%= activePage === "maintenance" ? "active-action": "" %>"
      >
        <i class="fas fa-tools"></i><span class="pa-text">maintenance</span>
      </a>

      <a
        href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/notes"
        class="btn btn-primary profile__action <%= activePage === "notes" ? "active-action": "" %>"
      >
        <i class="fas fa-clipboard-list"></i><span class="pa-text">notes</span>
      </a>
    </div>
  </div>
</section>
