<article class="task-partial">
  <div class="task__info">
    <h3>Task: <%= task.title %></h3>
    <form
      action="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/maintenance/<%=task._id%>?_method=DELETE"
      method="POST"
      onsubmit="return deleteConfirmation();"
    >
      <button class="btn-task-delete">
        <i class="fas fa-trash"></i>
      </button>
    </form>
    <p>
      Due in:
      <span
        class="
          <%=task.remainingHours
          >
          3
          ?
          'col-good'
          :
          task.remainingHours
          >
          1.5
          ?
          'col-caution'
          :
          'col-danger'%>
        "
        ><%= task.remainingHours %></span
      >
      hours.
    </p>
    <p>Interval: <%= task.interval %> hours.</p>
    <p>Last completed at: <%= task.lastCompletedAt %> hour mark.</p>
  </div>
  <div class="task__sign-off">
    <form
      action="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/maintenance/<%=task._id%>?_method=PATCH"
      method="POST"
      class="task__sign-off-form"
    >
      <span class="sign-off-label">Sign Off</span>
      <div class="sign-off-action">
        <input
          type="number"
          name="task[lastCompletedAt]"
          step="0.1"
          value="<%=profile.hours%>"
          required
        />
        <button class="btn sign-off-submit">
          <i class="far fa-check-square"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="task__edit">
    <p class="edit-form-trigger">Edit Task</p>
    <form
      action="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/maintenance/<%=task._id%>?_method=PATCH"
      method="POST"
      class="task__edit-form"
    >
      <p class="task__edit-label">Edit Task</p>
      <div class="form-row">
        <label for="title<%=index%>">New Title:</label>
        <input
          type="text"
          id="title<%=index%>"
          name="task[title]"
          value="<%=task.title%>"
          required
        />
      </div>
      <div class="form-row">
        <label for="interval<%=index%>">New Interval:</label>
        <input
          type="number"
          step="0.1"
          id="interval<%=index%>"
          name="task[interval]"
          value="<%=task.interval%>"
          required
        />
      </div>
      <div class="form-row">
        <label for="lastAt<%=index%>">New Completed Time:</label>
        <input
          type="number"
          step="0.1"
          id="lastAt<%=index%>"
          name="task[lastCompletedAt]"
          value="<%=task.lastCompletedAt%>"
          required
        />
      </div>
      <button class="btn form-submit">SUBMIT EDITS</button>
    </form>
  </div>
</article>
