<article class="task-partial">
  <div class="task__info">
    <h3>Task: <%= task.title %></h3>
    <p>Due in: <%= task.remainingHours %> hours.</p>
    <p>Interval: <%= task.interval %> hours.</p>
    <p>Last completed at: <%= task.lastCompletedAt %> hour mark.</p>
  </div>
  <div class="task__sign-off">
    <form
      action="/profiles/<%=profile._id%>/maintenance/<%=task._id%>?_method=PATCH"
      method="POST"
      class="task__sign-off-form"
    >
      <span class="sign-off-label">Sign Off</span>
      <div class="sign-off-action">
        <input
          type="number"
          id="newHours"
          name="lastCompletedAt"
          step="0.1"
          value="<%=profile.hours%>"
          max="<%=profile.hours%>"
          required
        />
        <button class="btn sign-off-submit">
          <i class="fas fa-check-square"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="task__edit">
    <span class="task__edit-label">Edit Task</span>
    <form
      action="/profiles/<%=profile._id%>/maintenance/<%=task._id%>?_method=PATCH"
      method="POST"
      class="task__edit-form"
    >
      <div>
        <label for="interval">New Interval:</label>
        <input
          type="number"
          step="0.1"
          id="interval"
          name="interval"
          value="<%=task.interval%>"
          required
        />
      </div>
      <div>
        <label for="lastAt">Last Completion Time:</label>
        <input
          type="number"
          step="0.1"
          id="lastAt"
          name="lastCompletedAt"
          value="<%=task.lastCompletedAt%>"
          required
        />
      </div>
      <button class="btn sign-off-submit">
        <i class="fas fa-check-square"></i>
      </button>
    </form>
  </div>
</article>
<script>
  document.querySelectorAll("input").forEach((input) => {
    input.addEventListener("focus", function () {
      this.value = "";
    });
  });
</script>
