<% layout("/layouts/boilerplate") %> <% include ../partials/navbar %>
<!-- profile section -->
<div class="profile-page">
  <section class="profile__box">
    <h2 class="profile__title"><%= profile.title %></h2>
    <div class="profile__image">
      <img src="/images/ktm.jpg" alt="profile picture" />
    </div>
    <p>Current hours: <%= profile.hours %></p>
    <div class="profile__update-hours-form">
      <form action="/profiles/<%=profile._id%>?_method=PATCH" method="POST">
        <h4>Update your engine hours</h4>
        <label for="hours">New engine hours: </label>
        <input
          type="number"
          step=".1"
          id="hours"
          name="hours"
          placeholder="engine hours"
          min="<%= profile.hours %>"
          required
        />
        <button>Update Hours</button>
      </form>
      <div class="nearest-task">
        <h4>Next Task</h4>
        <% const task = profile.tasks[0]; %> <% include ../partials/task %>
      </div>
    </div>
  </section>
  <!-- task section -->
  <section class="tasks__box">
    <h2 class="tasks__title">Tasks</h2>
    <div class="tasks__new-task-form">
      <form
        class="hidden"
        action="/profiles/<%=profile._id%>/tasks"
        method="POST"
      >
        <div class="form-row">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            name="task[title]"
            placeholder="Task description"
            required
          />
        </div>
        <div class="form-row">
          <label for="interval">Maintenance Interval (hrs): </label>
          <input
            type="number"
            step=".1"
            id="interval"
            name="task[interval]"
            placeholder="e.g 7.5"
            required
          />
        </div>
        <div class="form-row">
          <label for="lastDoneAt">Last completed at (hrs): </label>
          <input
            type="number"
            step=".1"
            id="lastDoneAt"
            name="task[lastCompletedAt]"
            placeholder="e.g. 7.5"
            required
          />
        </div>
        <button class="btn-form-submit">Create Task</button>
      </form>
      <p class="new-task-toggle">
        New Task
        <span><i id="toggle-chevron" class="fas fa-chevron-down"></i></span>
      </p>
    </div>
    <div class="tasks__task-box">
      <!-- prettier-ignore -->
      <% if (profile.tasks) { %>
        <% for (const task of profile.tasks) { %> 
            <% include ../partials/task %>
      <% } } %>
    </div>
  </section>
  <section class="notes">
    <label for="notes">Notes</label>
    <textarea name="notes__contents" id="notes" cols="30" rows="10"></textarea>
  </section>
</div>

<script>
  // Show/hide new task from and switch up/down chevron
  document
    .querySelector(".new-task-toggle")
    .addEventListener("click", function () {
      document
        .querySelector(".tasks__new-task-form form")
        .classList.toggle("hidden");
      const toggleIcon = document.querySelector(".fas").classList;
      toggleIcon.toggle("fa-chevron-down");
      toggleIcon.toggle("fa-chevron-up");
    });
</script>
