<% layout("/layouts/boilerplate") %>
<div class="action-page grid">
  <% include ../partials/profileHeader %>
  <section class="inspections-page grid">
    <div>
      <span class="link modal-trigger right" id="help-trigger"
        >help <i class="far fa-question-circle"></i
      ></span>
    </div>
    <div class="inspections bg-dark-border">
      <% if (!profile.inspections || !profile.inspections.length) { %>
      <p class="empty-collection-msg">
        No inspections created for this profile.
      </p>
      <% } %> <% if (profile.inspections.length) { %>
      <h2 class="checklist-header">Select inspections you wish to delete</h2>
      <form
        action="/<%=currentUser.username%>/garage/<%=profile.url%>/inspections/destroy?_method=DELETE"
        method="POST"
        onsubmit="return deleteConfirmation();"
        class="inspection-delete-form"
      >
        <div class="inspection-list mb-md">
          <!-- prettier-ignore -->
          <% for (const [index, inspection] of profile.inspections.entries()) { %>
          <section class="checklist-item">
            <label class="checkbox">
              <input
                type="checkbox"
                name="cbs[]"
                id="<%=index%>"
                value="<%=inspection._id%>"
              />
              <p class="title"><%=inspection.title%></p>
              <i class="fas fa-check checkmark"></i>
            </label>
            <hr />
          </section>
          <% } %>
        </div>
        <button class="btn btn-danger mb-xs py-xs">
          <i class="fas fa-trash"></i>Delete Selected
        </button>
      </form>
      <% } %>
    </div>
  </section>
  <!-- Modal help -->
  <div class="modal" id="help-modal">
    <span class="close" id="help-close">&times;</span>
    <h3 class="form-header">Inspection Removal Help</h3>
    <div class="modal-form-contents">
      <div class="modal-help-window">
        <section class="help-list">
          <p>This page is used to delete specific inspections.</p>
          <p>
            Select individual inspections in the list to toggle them for
            removal.
          </p>
          <p>
            A green checkmark
            <i class="col-good fas fa-check"></i> means the inspection should be
            deleted.
          </p>
          <p>
            After toggling inspections you wish to delete, select
            <span class="btn-fake-danger"
              ><i class="fas fa-trash"> </i>Delete Selected
            </span>
            to permanently remove them.
          </p>
          <% include ../partials/modalHelp %>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  // Delete confirmation script
  function deleteConfirmation() {
    const cbs = document.querySelectorAll("input:checked");
    if (!cbs.length) {
      alert("You have not selected any inspections to delete.");
      return false;
    }
    return confirm("Are you sure? This action is irreversible...");
  }

  // Modal display script
  const formModal = document.getElementById("form-modal");
  const helpModal = document.getElementById("help-modal");
  const triggers = document.querySelectorAll(".modal-trigger");
  const closers = document.querySelectorAll(".close");
  // Display
  for (const trigger of triggers) {
    trigger.onclick = function (event) {
      switch (event.target.id) {
        case "form-trigger":
          formModal.style.display = "block";
          break;
        case "help-trigger":
          helpModal.style.display = "block";
          break;
      }
    };
  }
  // Hide
  for (const close of closers) {
    close.onclick = function (event) {
      switch (event.target.id) {
        case "form-close":
          formModal.style.display = "none";
          break;
        case "help-close":
          helpModal.style.display = "none";
          break;
      }
    };
  }
</script>
