<% layout("/layouts/boilerplate") %>
<div class="action-page grid">
  <% include ../partials/profileHeader %>
  <section class="inspections-page grid">
    <div>
      <span class="link modal-trigger right" id="help-trigger"
        >help <i class="far fa-question-circle"></i
      ></span>
    </div>
    <div class="inspections bg-dark-border">
      <h1 class="checklist-header <%=!profile.inspections.length ? "" : completed ? "good-border" : "danger-border"%>">PRE-RIDE INSPECTION</h1>
      <!-- prettier-ignore -->
      <% if (!profile.inspections || !profile.inspections.length) { %>
      <p class="empty-collection-msg">No inspections created for this profile. Add new inspection(s) below.</p>
      <% } %>
      <% if (profile.inspections.length) { %>    
      <form
        action="/<%=currentUser.username%>/garage/<%=profile.url%>/inspections?_method=PATCH"
        method="POST"
        class="pre-ride-checklist"
      >
        <% for (const [index, inspection] of profile.inspections.entries()) { %>
        <section class="checklist-item">
          <label class="checkbox">
            <input 
              type="checkbox" 
              name="cbs[]" 
              id="<%=index%>" 
              <%=inspection.completed ? "checked" : "" %>
              value="<%=inspection._id%>"
              onChange="this.form.submit()" />
            <p class="title"><%=inspection.title%></p>
            <i class="fas fa-check checkmark"></i>
          </label>
          <hr>
        </section>
        <% } %>
      </form>
      <% } %>
    </div>
    <div class="inspection-actions bg-dark-border">
      <form
        action="/<%=currentUser.username%>/garage/<%=profile.url%>/inspections"
        method="POST"
        class="new-inspection-form"
        autocomplete="off"
      >
        <label for="title">New Inspection:</label>
        <input type="text" class="p-xs" id="title" name="title" required />
        <button class="btn btn-primary p-xs">ADD</button>
      </form>
      <a href="/<%=currentUser.username%>/garage/<%=profile.url%>/inspections/edit" class="link">Delete Inspection(s)?</a>
    </div>
  </section>
  <!-- Modal help -->
  <div class="modal" id="help-modal">
    <span class="close" id="help-close">&times;</span>
    <h3 class="form-header">Pre Ride Help</h3>
    <div class="modal-form-contents">
      <div class="modal-help-window">
        <section class="help-list">
          <p>
            This page is used as a pre-operational inspection checklist.
          </p>
          <p>
            Enter an inspection title/description at the bottom of the page and select <span class="btn-fake">ADD</span> to add an inspection to the list.
          </p>
          <p>
            Select individual inspections in the list to toggle complete/incomplete.
          </p>
          <p>Submitting a new hour meter reading in the <span class="btn-fake">post-ride</span> section will reset the inspections.</p>
          <p>
            Select the <span class="highlight">Delete Inspection(s)?</span> link at the bottom to navigate to a page that will allow you to delete specific inspections.
          </p>
          <p>Profile buttons:</p>
          <p>
            <span class="btn-fake">profile</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            profile overview/edit page.
          </p>
          <p>
            <span class="btn-fake">pre-ride</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            pre-ride inspections page
          </p>
          <p>
            <span class="btn-fake">post-ride</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            update engine hours after a ride-day.
          </p>
          <p>
            <span class="btn-fake">maintenance</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            create/edit/sign-off maintenance tasks.
          </p>
          <p>
            <span class="btn-fake">notes</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            record notes, torques, specs, maintenance steps...
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  // Modal display script
  const formModal = document.getElementById("form-modal");
  const helpModal = document.getElementById("help-modal");
  const triggers = document.querySelectorAll(".modal-trigger");
  const closers = document.querySelectorAll(".close");
  // Display
  for (const trigger of triggers) {
    trigger.onclick = function (event) {
      switch (event.target.id) {
        case "form-trigger":
          formModal.style.display = "block";
          break;
        case "help-trigger":
          helpModal.style.display = "block";
          break;
      }
    };
  }
  // Hide
  for (const close of closers) {
    close.onclick = function (event) {
      switch (event.target.id) {
        case "form-close":
          formModal.style.display = "none";
          break;
        case "help-close":
          helpModal.style.display = "none";
          break;
      }
    };
  }
</script>
