<% layout("/layouts/boilerplate") %>
<div class="profile-page">
  <section class="profile__box">
    <h2 class="profile__title"><%= profile.title %></h2>
    <div class="profile__action-box">
      <div class="profile__image">
        <img src="/images/ktm.jpg" alt="profile picture" />
      </div>
      <a
        href="/profiles/<%=profile._id%>/inspections"
        class="btn profile__action action-preride"
      >
        <i class="fas fa-clipboard-check"></i>pre-ride
      </a>
      <a
        href="javascript:document.getElementById('hours').focus()"
        class="btn profile__action action-postride"
        ><i class="fas fa-stopwatch"></i>post-ride</a
      >
      <a
        href="/profiles/<%=profile._id%>/maintenance"
        class="btn profile__action action-tasks"
      >
        <i class="fas fa-tools"></i>maintenance
      </a>
      <a
        href="/profiles/<%=profile._id%>/notes"
        class="btn profile__action action-notes"
      >
        <i class="fas fa-clipboard-list"></i>notes
      </a>
    </div>
    <p>
      Current hours: <span class="current-hours"><%= profile.hours %></span>
    </p>
    <div class="profile__update-hours-form">
      <form action="/profiles/<%=profile._id%>?_method=PATCH" method="POST">
        <h4>Update your engine hours</h4>
        <label for="hours">New engine hours: </label>
        <input
          type="number"
          step=".1"
          id="hours"
          name="hours"
          value="<%= profile.hours %>"
          min="<%= profile.hours %>"
          required
        />
        <button>Update Hours</button>
      </form>
    </div>
    <div class="profile__nearest-task">
      <h4>Next Task</h4>
      <% if (profile.tasks && profile.tasks.length) { %> <% const task =
      profile.tasks[0]; %>
      <div
        class="btn profile__nearest-task-info"
        onclick="window.location.href = '/profiles/<%=profile._id%>/maintenance';"
      >
        <h3>Task: <%= task.title %></h3>
        <p>
          Due in: <span class="due-in"><%= task.remainingHours %></span> hours.
        </p>
      </div>
      <% } else { %>
      <p>No tasks created yet...</p>
      <% } %>
    </div>
  </section>
</div>

<script>
  document.querySelector(".current-hours").addEventListener("click", () => {
    document.getElementById("hours").focus();
  });
</script>
<script>
  document.querySelector("#hours").addEventListener("focus", function () {
    this.value = "";
  });
</script>
