<% layout("/layouts/boilerplate") %>
<div class="action-page">
  <% include ../partials/profileHeader %>
  <section class="profile-page-grid">
    <div class="page-header">
      <h2>Profile Overview</h2>
      <span class="link modal-trigger" id="help-trigger"
        >help <i class="far fa-question-circle"></i
      ></span>
    </div>
    <div class="profile__info bg-dark-border">
      <h2 class="profile__title"><%= profile.title %></h2>
      <div class="profile__image">
        <img src="<%=profile.image.path%>" alt="profile picture" />
      </div>
      <p>
        Current hours:
        <a
          href="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/post-ride"
          class="link"
          ><%= profile.hours %></a
        >
      </p>
      <form
        action="/home/<%=currentUser.username%>/profiles/<%=profile._id%>?_method=DELETE"
        method="POST"
        onsubmit="return deleteConfirmation();"
      >
        <button class="btn btn-danger mt-md p-xs">
          <i class="fas fa-trash"></i>Delete this profile?
        </button>
      </form>
    </div>
    <div class="modal-trigger">
      <h3 class="btn btn-primary btn-fw mb-sm py-xs" id="form-trigger">
        Edit This Profile?
      </h3>
    </div>
  </section>
  <!-- Modal help -->
  <div class="modal" id="help-modal">
    <span class="close" id="help-close">&times;</span>
    <h3 class="form-header">Profile Overview Help</h3>
    <div class="modal-form-contents">
      <div class="modal-help-window">
        <section class="help-list">
          <p>This page shows basic profile information.</p>
          <p>
            The most important profile data is current hours, from which
            maintenance task due times are calculated. Update the hours in the
            post-ride page (preferred) or by editing the profile directly.
          </p>
          <p>
            Select the
            <span class="btn-fake">Edit This Profile</span> button at the bottom
            of the screen to make changes to the current profile.
          </p>
          <p>
            Select the
            <span class="btn-fake-danger"
              ><i class="fas fa-trash"></i>Delete this profile?</span
            >
            button in the main window to permanently remove this profile from
            your garage.
          </p>
          <p>Profile buttons:</p>
          <p>
            <span class="btn-fake">pre-ride</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            pre-ride inspections page
          </p>
          <p>
            <span class="btn-fake">post-ride</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            update engine hours after a ride-day.
          </p>
          <p>
            <span class="btn-fake">maintenance</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            create maintenance tasks to track.
          </p>
          <p>
            <span class="btn-fake">notes</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            record notes, torques, specs, maintenance steps...
          </p>
        </section>
      </div>
    </div>
  </div>
  <!-- Modal Form -->
  <div class="modal" id="form-modal">
    <span class="close" id="form-close">&times;</span>
    <form
      action="/home/<%=currentUser.username%>/profiles/<%=profile._id%>?_method=PATCH"
      method="POST"
      class="modal-form"
      autocomplete="off"
      enctype="multipart/form-data"
    >
      <h3 class="form-header">Edit Bike Profile</h3>
      <div class="modal-form-contents">
        <div class="modal-form-window">
          <div class="modal-form-items">
            <div class="modal-form-line">
              <label for="year" class="modal-form-label">YEAR</label>
              <input
                type="text"
                class="modal-form-input"
                id="year"
                name="profile[year]"
                placeholder="manufacture year"
                value="<%=profile.year%>"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="make" class="modal-form-label">MAKE</label>
              <input
                type="text"
                class="modal-form-input"
                id="make"
                name="profile[make]"
                placeholder="manufacturer"
                value="<%=profile.make%>"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="model" class="modal-form-label">MODEL</label>
              <input
                type="text"
                class="modal-form-input"
                id="model"
                name="profile[model]"
                placeholder="model series"
                value="<%=profile.model%>"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="hours" class="modal-form-label">HOURS</label>
              <input
                type="text"
                class="modal-form-input"
                id="hours"
                name="profile[hours]"
                placeholder="Current engine hours"
                value="<%=profile.hours%>"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="image" class="modal-form-label">IMAGE</label>
              <input
                type="file"
                class="modal-form-input"
                id="image"
                name="image"
              />
            </div>
          </div>
          <button class="btn btn-primary form-submit py-xs">
            SUBMIT EDITS
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  // Confirm deletion script
  function deleteConfirmation() {
    return confirm("Are you sure? This action is irreversible...");
  }

  // Modal display script
  const formModal = document.getElementById("form-modal");
  const helpModal = document.getElementById("help-modal");
  const triggers = document.querySelectorAll(".modal-trigger");
  const closers = document.querySelectorAll(".close");
  // Display
  for (const trigger of triggers) {
    trigger.onclick = function (event) {
      switch (event.target.id) {
        case "form-trigger":
          formModal.style.display = "block";
          break;
        case "help-trigger":
          helpModal.style.display = "block";
          break;
      }
    };
  }
  // Hide
  for (const close of closers) {
    close.onclick = function (event) {
      switch (event.target.id) {
        case "form-close":
          formModal.style.display = "none";
          break;
        case "help-close":
          helpModal.style.display = "none";
          break;
      }
    };
  }
</script>
